<div class="row row-container">
    <div class="col-xs-12 col-md-4">
        <h3>STORE </h3>
        <h4>Create with</h4>
        <ul>
            <li> Angular</li>
            <li>Material/Angular</li>
            <li>FireBase</li>
            <li>Flexbox gird</li>
            <li>Swiper </li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-4">
        <h3>About</h3>
        
        <ul>
            <li>
                <h5>Paul Ganan</h5>
                <p>front end developer</p>
            </li>
            <li>
                <h5>GitHub</h5>
                <a class="links" href="https://github.com/Aureole-PG">
                Aureole-PG
                </a>
            </li>
            <li>
                <h5>LinkedIn</h5>
                <a class="links" href="www.linkedin.com/in/paul-ganan-422a101b4">
                    Paul-Ganan
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-4">
        <input [formControl]="emailField" type="email" name="email" id="">
        
        {{emailField.valid}}, {{emailField.invalid}}
    </div>
</div>
    